<!doctype html>
<html>
	<head>
		<title>Memories</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css" type="text/css" media="screen" title="foundationcss" charset="utf-8">
	</head>

	<body>
		{% with messages=get_flashed_messages(with_categories=True) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="row">
						<div class="columns small-12">
							<div class="callout {{ category }}">
								{{ message }}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		
		{% block maincontent %}
			
		{% endblock %}
	</body>

	<script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css" charset="utf-8"></script>
	{% block morescripts %}{% endblock %}
</html>
